@model IEnumerable<Post>

<div class="col-md-6">
    <h1 class="page-header"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</h1>
    <h3>Latest Posts</h3>


    <a asp-controller="Admin" asp-action="AddPost">Add Post</a>


    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Title</th>
            @*<th>Category</th>*@
        </tr>
        @foreach (var post in Model)
        {
            <tr>
                <td><a asp-controller="Admin" asp-action="Edit" asp-route-id="@post.Id">Edit</a></td>
                <td><a href="@Url.Action("Post", "Blog",new
                        {
                            year = post.PostedOn.Year,
                            month = post.PostedOn.Month,
                            title = post.UrlSlug
                        })">@post.Title</a></td>

                @*<td>@post.Category.Name</td>*@
            </tr>
        }
    </table>
    <hr>
</div>

