
<div class="col-md-3">
    <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div>
            <img src="~/images/Copy.jpg" class="img-responsive img-circle" id="profile-img" alt="">
        </div>

        <div class="user-title">
            <a asp-controller="Blog" asp-action="Posts">Mustafa Saeed</a>
        </div>

        <div class="text-left" id="about">
            I am a software developer with experience in both web and mobile development using asp.net
            (legacy and core) MVC, Xamarin and UWP.
        </div>


        @*<div>
            <ul class="nav">
                <li>
                    <a asp-controller="Blog" asp-action="Posts">
                        <i class="glyphicon glyphicon-home"></i>
                        Home
                    </a>
                </li>
                <li>
                    <a asp-controler="Blog" asp-action="About">
                        <i class="glyphicon glyphicon-user"></i>
                        About
                    </a>
                </li>
                <li>
                    <a asp-controler="Blog" asp-action="Contact">
                        <i class="glyphicon glyphicon-envelope"></i>
                        Contact
                    </a>
                </li>
            </ul>
        </div>*@
    </div>
</div>
